.App {
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  color: white;
}

body {
  padding: 0%;
  margin: 0;
  background-color: #121212;
}

.name {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 45px;
  position: relative;
  top: 4rem;
}

.game {
  width: 100vw;
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.game-controllers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.game-controllers > button {
  width: 7rem;
  height: 3.5rem;
  border-radius: 25px;
  transition: all 0.3s ease;
  background-color: #0080ff;
  color: white;
  font-size: 16px;
}

.game-controllers > button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

.board {
  width: 450px;
  height: 550px;
  border: none;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.letter {
  flex: 33%;
  height: 100%;
  border: 1px solid grey;
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#correct {
  background-color: #528d4e;
}

#almost {
  background-color: #b49f39;
}

#error {
  background-color: #3a393c;
}

.keyboard {
  width: 40rem;
  height: 300px;
  margin-top: 60px;
}

.line1 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.line2 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}
.line3 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.key {
  width: 50px;
  height: 70px;
  margin: 5px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 20px;
  background-color: grey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.gameOver {
  width: 40rem;
  height: 30rem;
  margin-top: 60px;
  background-color: #3a393c;
  color: whitesmoke;
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gameOver.active {
  opacity: 1;
}

.end-message {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

#big {
  width: 100px;
}
#disabled {
  background-color: #3a393c;
}
